/* global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "cairo" , sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.landing-section {
    width: 100%;
    background-color: green;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


  /* Start Header Style */

  .header {
    background-color: #19283F;
  }
.header .container {
    display: flex;
    justify-content: space-between;
    background-color: #19283F;
}

.header .container .logo img {
  width: 70px;
  padding-top: 10px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin-right: 15px;
}

.navbar ul li {
    display: inline-block;
    padding-left: 20px;

}

.navbar ul li:hover a{
  color: #33D1CC;
}

.navbar ul li a {
    color: white;
    font-size: 12px;
    font-weight: 600;
    transition: 0.10s;

}

.search i {
  color: #33D1CC;
  font-size: 12px;
  font-weight: 700;
  border-left: solid 1px #33D1CC;
  padding-left: 15px;
  padding-right: 10px;
  
}

.search a {
  background-color: #fd3150;
  color: #fdc200;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 20px;
}
  /* End Header Style */

/* Start landing Style */
.landing {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #19283F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .content {
  text-align: center;
}

.landing .content h1 {
  color: white;
  font-size: 25px;
  font-size: 700;
  margin-bottom: 15px;
}

.landing .content p {
  font-size: 10px;
  color:rgba(255,255,255,.5);
  font-weight: 600;
}

.landing .content a {
  color: #fdc200;
  background-color: #fd3150;
  border-radius: 15px;
  padding: 8px 10px;
  display:inline-block;
  margin-top: 30px;
  font-size: 14px;
}

/* End Landing Style */

/* Start Style WE Are Good */
.we-are-good {
  background-color: white;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;

}

.we-are-good .title {
  width: 300px;
  text-align: center;
  margin: auto;
}

.we-are-good .title img {
  width: 50px;
  padding-bottom: 20px;
  
}

.we-are-good .title h2 {
  padding-bottom: 10px;
}

.we-are-good .title p {
  color: rgba(0,0,0,.5);
  position: relative;
}

.we-are-good .title p::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 50%;
  height: 2px;
  background-color: green;

}

.we-are-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.we-are-services .box-ser {
  margin-top: 50px;
  text-align: center;
}
.we-are-services .box-ser svg {
  width: 100px;
  height: 150px;
  color: #e0ecf0;
}

.we-are-services .box-ser h3 {
  color:#fdc200;
  padding-top: 20px;
  text-transform: uppercase;
}

.we-are-services .box-ser p {
  font-size: 12px;
  color: rgb(0,0,0,.5);
  margin-top: 20px;
  line-height: 1.6;
}

/* End Style We Are Good */

/* Start Style We Make This */

.we-make-this {
  padding-top: 80px;
  padding-bottom : 80px;
  background-color: #EFF7FA;
}
.we-make-this .title {
  width: 300px;
  text-align: center;
  margin: auto;
}

.we-make-this .title img {
  width: 50px;
  padding-bottom: 20px;
  
}

.we-make-this .title h2 {
  padding-bottom: 10px;
}

.we-make-this .title p {
  color: rgba(0,0,0,.5);
  position: relative;
  margin-bottom: 40px;
}

.we-make-this .title p::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 50%;
  height: 2px;
  background-color: green;

}

.we-make-this .list {
  margin-top: 20px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.we-make-this .list ul li {
  display: inline-block;
  margin-bottom: 40px;


}

.we-make-this .list ul li:not(:first-child) {
  padding-left: 15px;
} 

.we-make-this .list ul li:first-child {
  color:#fdc200;
  background-color: #fd3150;
  padding: 7px 10px;
  border-radius: 15px;
} 

.gallry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

}

.gallry .container-img img {
  width: 100%;
}



/* End Style We Make This */